.interview {
  &__title {
    font: 600 20px / 30px $font;
    font-style: italic;
    background-color: #E4F8FD;
    padding-left: 18px;
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 30px;
  }

  &__img {
    margin-bottom: 10px;
  }


  &__news {
    max-width: 400px;
    font-style: italic;
    color: #6b6b6b;
    margin-bottom: 35px;
    font: 400 16px / 19px $font;
  }
}

.talk {
  &__title {
    font: 700 20px / 24px $font;
    margin-bottom: 20px;
  }

  &-question {
    font-weight: 700;
    margin-bottom: 35px;

    &__text {
      &--yellow {
        background-color: yellow;
        width: fit-content;
      }
    }
  }

  &-answer {

    &__text {
      margin-bottom: 30px;

      &--accent {
        font-weight: 700;
        text-decoration: underline;
      }
    }

    &__title {
      color: #0099FF;
      font: 700 25px /30px $font;
      max-width: 360px;
      text-align: center;
    }
  }
}

.talk-decor {
  margin-bottom: 25px;

  &__img {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 314px;
    font: 'italic'400 20px / 24px $font;
    color: #6f6f6f;
    &--full{
      max-width: 100%;
    }
  }
}

.talk-answer__list {
  counter-reset: item;

  &-item {
    margin-bottom: 30px;
  }

  &-title {
    font: 700 20px/24px $font;
    margin-bottom: 30px;

    &::before {
      counter-increment: item;
      content: counter(item)'.';
    }
  }

  &-text {
    &--accent {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.talk-present{
  &__top{
    max-width: 251px;
    margin: 0 auto;
    margin-bottom: 30px;
    &-title{
      font: 700 20px / 24px $font;
      text-align: center;
      margin-bottom: -25px;
      z-index: 1;
      position: relative;
    }
    &-text{
      max-width: 130px;
      font: 400 16px / 19px $font;
      margin-top: -40px;
    margin-left: 15px;
    }
  }
  &__bottom{
    max-width: 370px;
    margin: 0 auto;
    margin-bottom: 30px;
    &-title{
      font: 700 20px / 24px $font;
      text-align: center;
      margin-bottom: -45px;
      z-index: 1;
      position: relative;
    }
    &-text{
      max-width: 340px;
      font: 400 16px / 19px $font;
      margin-top: -65px;
    }
  }
}
.product-img{
  width: 130px;
  margin-bottom: 20px;
}
.product-composition{
  padding: 0 15px;
  margin-bottom: 20px;
  &__item{
    &:not(:last-child){
      margin-bottom: 20px;
    }
  }
  &__img{
    width: 130px;
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 10px;
    font: 700 19px / 24px $font;
  }
  &__descr{
    font: 400 19px / 24px $font;
  }
}
.talk-answer__present {
  margin-top: 40px;
  margin-bottom: 45px;
  background-color: #faf7f8;
  padding-bottom: 15px;

  &-img {
    margin-bottom: 20px;
  }

  &-text {
    font: 700 15px / 18px $font;
    max-width: 270px;
    text-align: center;
    color: #000000;
  }

  &-top {
    top: 30px;
    right: 20px;
    text-align: left;
    max-width: 350px;
  }

  &-left {
    bottom: 45px;
    left: 21.5%;
  }

  &-right {
    bottom: 27px;
    right: 10%;
    max-width: 150px;
  }
}
